body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;
    --font-newsreader: Newsreader;

    /* font sizes */
    --font-size-base: 16px;
    --font-size-xl: 20px;

    /* Colors */
    --color-white: #fff;
    --color-whitesmoke: #fafaf5;
    --color-gainsboro: #e6e6e6;
    --color-dimgray: #6d6d6d;
    --color-darkolivegreen: #426b1f;
    --color-black: #000;
    --color-silver: #c2c2c2;
    --color-gray: #8f8f8f;
    --color-olivedrab: #699145;

    /* Gaps */
    --gap-13xl: 32px;
    --gap-base: 16px;
    --gap-5xl: 24px;
    --gap-9xs: 4px;
    --gap-xl: 20px;
    --br-xl: 2px;
    --br-5xl: 5px;

    /* Paddings */
    --padding-xl: 20px;
    --padding-9xl: 28px;
    --padding-5xl: 24px;
    --padding-base: 16px;
    --padding-mid: 17px;
    --padding-3xs-5: 9.5px;
    --padding-mini: 15px;
    --padding-sm-5: 13.5px;
}